@charset 'utf-6';

*{
    box-sizing: border-box;
}
:root{
    --back-color:#F6F6F6;
    --back-light-color:#FFFFFFFF;
    --base-color:#4A4A4A4A;
    --base-light-color:#7a7a7a;
    --light-font-color:#D7D7D7;
    --font-color:#484848;
    --point-color:#D8625E;
    --border-color:#CDCDCD;
}
body,h1,h2,h3,h4,p,ul,li,dl,dt,dd,figure{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    line-height: 1.8;
    background-color: var(--back-color);
    color: var(--font-color);
}
li{
    list-style: none;
}
img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.sp{
    display: none;
}
header{
    background-color: var(--base-color);
    color: var(--light-font-color);
}
.headerwrapper{
    width: clamp(320px,1160px,100%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
hgroup{
    width: 200px;
    text-align: center;
    padding: 10px 0;
}
h1,h2{
    color: var(--point-color);
    font-size: 48px;
    line-height: 1;
    font-family: 'Libre Caslon Text',serif;
    letter-spacing: 3px;
}
li a{
    color: var(--point-color);
    text-decoration: none;
}
h2{
    font-size: 24px;
}
input[type=search]{
    width: 300px;
    height: 20px;
    border-radius: 10px;
    padding: 0 20px;
    border: 1px solid var(--base-color);
    color: white;
    background-color: var(--base-light-color);
}
input[type=search]:focus{
    border: 1px solid var(--border-color);
    outline: 0;
}
input[type=image]{
    margin-bottom: -5px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav li{
    width: calc(100% / 4);
    margin-top: 20px;
    text-align: right;
}
.navcontent{
    padding: 15px 0 0 0;
    margin-right: 15px;
}

.content ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: clamp(320px , 1110px, 100%);
    margin: 30px auto;
    justify-content: center;
}
.items{
    width: clamp(320px,350px,350px);
    background-color: var(--back-light-color);
    border-radius: 10px;
    border: 1px solid var(--back-color);
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px rgb(200, 200, 200);
}
.item img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
figure{
    position: relative;
}
figcaption{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    background-color: var(--base-color);
    color: var(--light-font-color);
    padding: 3px 5px;
}
.items p{
    padding-left: 10px;
}
.itemtitle{
    font-weight: 700;
    font-size: 20px;
}